<div id ="b"></div>
<div id ="a"></div>
<% @post_comments.each do |post_comment| %>
<%= post_comment.text %>
<%= post_comment.created_at %>
<br>
comented by:
<b><%=  post_comment.user.name %></b>
action:
<%= link_to 'Delete',
 post_comment_delete_path(post_comment.id),
  remote: true,
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
</p>
<% end %>
