<div id="post_comments">
<% @post_comments.each do |post_comment|%>
  <span>
    <%= post_comment.text %>
  </span>
<% end %>
</div>
<script type="text/javascript">
  // $('#b').load('http://localhost:3000/post_comments/24');
</script>