<%#= render 'show_navigation' %>
<div id="post">
  <div class="comment_body">
    <%= link_to root_path(anchor: "post_#{@post.id}"),
    remote: true,
    id: "close_show_post",
    title: "Back to posts" do %>
    <%= image_tag "icons/iconfinder_left-arrow-back_2931162.png",
    width: "35px",
    height: "40px" %>
  <% end %>

    <p>

    <h3 id="ajax_header"></h3>
    <p id="ajax_image"></p>
    <p id="ajax_body"></p>

    <!-- http request data -->
    <h3 id="header"><%#= @post.header%></h3>
    <%#= image_tag @post.image_url, class: 'leftimg' if @post.image.present? %>
    <p id="body"><%#= @post.body%></p>

    </p>
  </div>
    <%= render 'show_navigation' %>
</div>
<p>
  <div id="edit_post<%= @post.id%>"></div>
</p>
<hr>


