<%#= render 'show_navigation' %>
<div class="comment_body">
<p>
<h3 id="header"></h3>
<%= image_tag @post.image_url, class: 'leftimg' if @post.image.present? %>
<p id="body"></p>
</p>
</div>
<%= render 'show_navigation' %>
<hr>
