<!-- <h1>Progress</h1>
<ul>
  <%#= render partial: 'xx', collection: @xx, as: :xx %>
</ul>

<script type="text/javascript">
  window.progressPage = 1
</script>

<div></div>

<div class='actions'>
  <%#= button_to 'Load More',
    'progress.js.erb',
    method: :get,
    remote: true,
    id: '#btn-load-more' %>
</div>
 -->