/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 */
@import "froala_editor.min";
@import "froala_style.min";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
body {

  z-index: 1;
}


#background_image {
position: relative;
  background-image: image-url('background.jpg');
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600%;
  opacity : 0.1;
  z-index: -1 ;
}

/*#background_shadow {
  position: absolute;
  width: 100%;
  height: 600%;
  background-color: grey;
  opacity: 0.2;
  z-index: 2;
  display: none;
}*/

p:first-child {
  text-indent: 1em;
}

.comment_body {
  margin-bottom: 8px;
  padding: 11px;
  border-radius: 8px;
  background-color: #f7f7f7;
}

.comment_body h3 {
  text-align: center;
}

.comment_body img {
  margin-left: 15%;
  margin-right: 16%;
}
h3 {
  text-align: center;
}

#github_logo:hover {
    filter: invert(100%);
}

.user_vertical_divider {
    position: absolute;
    margin-left: -2%;
    margin-top: 1%;
    width: 1px;
    height: 100%;
    background-color: #e6e6e6;
}

.comment {
  display: block;
  margin-right: 5%;
  margin-left: 0%;
  margin-top: 3%;
  padding-left: 1%;
  width: 90%;
  height: 100%;
  border-radius: 2px;
}

.comment_avatar{
  float: left;
  width: 9%;

}

.comment_created_by{
  display: block;
  width: 83%;
  height: 100%;
  margin-left: 10%;
  font-size: 77%;
  font-style: italic;
  color: slategrey;
}

.comment_text{
  display: block;
  background-color: whitesmoke;
  width: 83%;
  height: 100%;
  margin-left: 10%;
  border-radius: 8px;
  padding-left: 2%;
  padding-right: 2%;
  overflow-wrap: break-word;
}

.delete_comment{
  float: right;
}