<li class="nav-item">
  <%= link_to 'My posts', my_posts_url, class: 'nav-link' %>
  </li>

<li class="nav-item">
  <%= link_to 'New post', new_user_post_path(current_user), class: 'nav-link' if current_user %>
 </li>

<li class="nav-item">
 <%= link_to 'My Comments', user_comments_path(current_user), class: 'nav-link' %>
 </li>

<li class="nav-item">
  <%= link_to "My profile", user_path(current_user), class: 'nav-link' if current_user %>
</li>
