<h3>User data</h3>
<p>
  <%= image_tag( "#{current_user.avatar}",
    alt: "Here may be you avatar",
    height: '90%',
    width: '90%') if current_user.avatar %>
</p>

<p>
  <strong>Posts:</strong>
  <%= current_user.posts.count %>
</p>

<p>
  <strong>Comments:</strong>
  <%= current_user.comments.count %>
</p>